<div class="card bg-light shadow h-100">
    <h5 class="card-header">{{board.title}}</h5>
    <div class="card-body">
        <h6 class="card-title">{{board.name}}</h6>
        <p>
            <small>Created: {{board.created | date: 'medium'}}</small>
            <br/>
            <small *ngIf="board.updated">Updated: {{board.updated | date: 'medium'}}</small>
        </p>
        <p class="card-text">{{board.description}}</p>
    </div>
    <div class="card-footer">
        <button type="submit"
                [routerLink]="['/board', board.id, 'view' ]"
                class="btn btn-info">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span jhiTranslate="entity.action.view">View</span>
        </button>
        <button type="submit"
                [routerLink]="['/board', board.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'board/'+ board.id + '/delete'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>
            <span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</div>
