<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartjournalApp.board.home.title">Boards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-board"
                [routerLink]="['/board/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="smartjournalApp.board.home.createLabel">
            Create new Board
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <hr/>
    <div *ngIf="boards">
        <div *ngFor="let board of boards; let i = index; trackBy: trackId">
            <div *ngIf="i % 2 === 0" class="row">
                <div class="col-lg-6 p-3 p-md-4">
                    <jhi-board-child [board]="board"></jhi-board-child>
                </div>
                <div class="col-lg-6 p-3 p-md-4" *ngIf="i !== boards.length - 1">
                    <jhi-board-child [board]="boards[i + 1]"></jhi-board-child>
                </div>
            </div>
        </div>
    </div>
</div>
