<div *ngIf="students">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
        <jhi-alert-error></jhi-alert-error>
        <div class="mb-3">
            <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="disableEditingState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" id="save-entity" [disabled]="!formValid" class="btn btn-primary">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
        </div>
        <div *ngIf="!formValid" class="alert alert-danger">Only numbers allowed</div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                <tr class="text-center">
                    <th>Student</th>
                    <th colspan="100%">Scores</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td *ngFor=" let day of students[0].days" class="text-center">
                        {{day.date | date: 'dd.MM'}}
                    </td>
                </tr>
                <tr *ngFor="let student of students">
                    <td>{{student.lastName}} {{student.firstName}}</td>
                    <td *ngFor="let day of student.days" class="text-center" contenteditable="true"
                        data-valid="true"
                        (keyup)="handleKeyup($event.target, day)">{{day.result}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
