<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="board">
            <h2><span jhiTranslate="smartjournalApp.board.detail.title">Board</span> {{board.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartjournalApp.board.name">Name</span></dt>
                <dd>
                    <span>{{board.name}}</span>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.board.description">Description</span></dt>
                <dd>
                    <span>{{board.description}}</span>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.board.created">Created</span></dt>
                <dd>
                    <span>{{board.created}}</span>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.board.updated">Updated</span></dt>
                <dd>
                    <span>{{board.updated}}</span>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.board.party">Party</span></dt>
                <dd>
                    <div *ngIf="board.party">
                        <a [routerLink]="['/party', board.party?.id, 'view']">{{board.party?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.board.subject">Subject</span></dt>
                <dd>
                    <div *ngIf="board.subject">
                        <a [routerLink]="['/subject', board.subject?.id, 'view']">{{board.subject?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/board', board.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
