<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartjournalApp.subject.home.title">Subjects</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-subject"
                [routerLink]="['/subject/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="smartjournalApp.subject.home.createLabel">
            Create new Subject
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>

</div>
<div *ngIf="subjects">
    <div *ngFor="let subject of subjects; let i = index; trackBy: trackId">
        <div *ngIf="i % 2 === 0" class="row">
            <div class="col-lg-6 p-3">
                <jhi-subject-child [subject]="subject"></jhi-subject-child>
            </div>
            <div class="col-lg-6 p-3" *ngIf="i !== subjects.length - 1">
                <jhi-subject-child [subject]="subjects[i + 1]"></jhi-subject-child>
            </div>
        </div>
    </div>
</div>
