<div class="card bg-light shadow h-100">
    <h5 class="card-header">{{subject.name}}</h5>
    <div class="card-body">
        <p>
            <small>Created: {{subject.created | date: 'medium'}}</small>
            <br/>
            <small *ngIf="subject.updated">Updated: {{subject.updated | date: 'medium'}}</small>
        </p>
        <p class="card-text">{{subject.description}}</p>
    </div>
    <div class="card-footer">
        <button type="submit"
                [routerLink]="['/subject', subject.id, 'view' ]"
                class="btn btn-info">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span jhiTranslate="entity.action.view">View</span>
        </button>
        <button type="submit"
                [routerLink]="['/subject', subject.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'subject/'+ subject.id + '/delete'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>
            <span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</div>
