<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartjournalApp.group.home.title">Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group" [routerLink]="['/group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smartjournalApp.group.home.createLabel">
            Create new Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div *ngIf="groups">
        <div *ngFor="let group of groups; let i = index; trackBy: trackId">
            <div *ngIf="i % 2 === 0" class="row">
                <div class="col-lg-6 p-3">
                    <jhi-group-child [group]="group"></jhi-group-child>
                </div>
                <div class="col-lg-6 p-3" *ngIf="i !== groups.length - 1">
                    <jhi-group-child [group]="groups[i + 1]"></jhi-group-child>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="table-responsive" *ngIf="groups">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
            <!--<th><span jhiTranslate="global.field.id">ID</span></th>-->
            <!--<th><span jhiTranslate="smartjournalApp.group.name">Name</span></th>-->
            <!--<th><span jhiTranslate="smartjournalApp.group.description">Description</span></th>-->
            <!--<th><span jhiTranslate="smartjournalApp.group.createdDate">Created</span></th>-->
            <!--<th><span jhiTranslate="smartjournalApp.group.updatedDate">Updated</span></th>-->
            <!--<th><span jhiTranslate="smartjournalApp.group.subject">Subject</span></th>-->
            <!--<th></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr *ngFor="let group of groups ;trackBy: trackId">-->
                <!--<td><a [routerLink]="['/group', group.id, 'view' ]">{{group.id}}</a></td>-->
                <!--<td>{{group.name}}</td>-->
                <!--<td>{{group.description}}</td>-->
                <!--<td>{{group.created | date:'medium'}}</td>-->
                <!--<td>{{group.updated | date:'medium'}}</td>-->
                <!--<td>-->
                    <!--<span *ngFor="let subject of group.subjects; let last = last">-->
                            <!--<a class="form-control-static" [routerLink]="['../subject', subject?.id, 'view' ]">{{subject.id}}</a>{{last ? '' : ', '}}-->
                        <!--</span>-->
                <!--</td>-->
                <!--<td class="text-right">-->
                    <!--<div class="btn-group flex-btn-group-container">-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/group', group.id, 'view' ]"-->
                                <!--class="btn btn-info btn-sm">-->
                            <!--<fa-icon [icon]="'eye'"></fa-icon>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/group', group.id, 'edit']"-->
                                <!--class="btn btn-primary btn-sm">-->
                            <!--<fa-icon [icon]="'pencil-alt'"></fa-icon>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
                        <!--</button>-->
                        <!--<button type="submit"-->
                                <!--[routerLink]="['/', { outlets: { popup: 'group/'+ group.id + '/delete'} }]"-->
                                <!--replaceUrl="true"-->
                                <!--queryParamsHandling="merge"-->
                                <!--class="btn btn-danger btn-sm">-->
                            <!--<fa-icon [icon]="'times'"></fa-icon>-->
                            <!--<span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
                        <!--</button>-->
                    <!--</div>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
</div>
