<div>
    <h2 id="page-heading">
        <span jhiTranslate="smartjournalApp.group.home.title">Groups</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-group" [routerLink]="['/group/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="smartjournalApp.group.home.createLabel">
            Create new Group
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <hr/>
    <div *ngIf="groups">
        <div *ngFor="let group of groups; let i = index; trackBy: trackId">
            <div *ngIf="i % 2 === 0" class="row">
                <div class="col-lg-6 p-3 p-md-4">
                    <jhi-group-child [group]="group"></jhi-group-child>
                </div>
                <div class="col-lg-6 p-3 p-md-4" *ngIf="i !== groups.length - 1">
                    <jhi-group-child [group]="groups[i + 1]"></jhi-group-child>
                </div>
            </div>
        </div>
    </div>
</div>
