<div class="card bg-light m-3 shadow">
    <div class="card-body">
        <h5 class="card-title">{{group.name}}</h5>
        <p>
            <small>Created: {{group.created | date: 'medium'}}</small>
            <br/>
            <small *ngIf="group.updated">Updated: {{group.updated | date: 'medium'}}</small>
        </p>
        <p class="card-text">{{group.description}}</p>
        <button type="submit"
                [routerLink]="['/group', group.id, 'view' ]"
                class="btn btn-info">
            <fa-icon [icon]="'eye'"></fa-icon>
            <span jhiTranslate="entity.action.view">View</span>
        </button>
        <button type="submit"
                [routerLink]="['/group', group.id, 'edit']"
                class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>
            <span jhiTranslate="entity.action.edit">Edit</span>
        </button>
        <button type="submit"
                [routerLink]="['/', { outlets: { popup: 'group/'+ group.id + '/delete'} }]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>
            <span jhiTranslate="entity.action.delete">Delete</span>
        </button>
    </div>
</div>
