<div class="row justify-content-center">
    <div class="col-md-8">
        <div *ngIf="group">
            <h2>
                <span>{{group.name}}</span>
                <span class="float-right">
                    <button type="button"
                            [routerLink]="['/group', group.id, 'edit']"
                            class="btn btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                    </button>
                    <button type="button"
                            class="btn btn-info"
                            (click)="addStudent()">
                        <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span> Add students</span>
                    </button>
                </span>
            </h2>
            <jhi-alert></jhi-alert>
            <jhi-alert-error></jhi-alert-error>
            <hr>
            <ngb-tabset type="pills" #tabset>
                <ngb-tab id="information" title="Information">
                    <ng-template ngbTabContent>
                        <jhi-group-information [group]="group"></jhi-group-information>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="students" title="Students">
                    <ng-template ngbTabContent>
                        <jhi-group-students [groupId]="group.id" [students]="group.students"></jhi-group-students>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info mt-2">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
