<dl class="row-md jh-entity-details">
    <dt><span>Title</span></dt>
    <dd>
        <span>{{board.title}}</span>
    </dd>
    <dt><span jhiTranslate="smartjournalApp.board.name">Name</span></dt>
    <dd>
        <span>{{board.name}}</span>
    </dd>
    <dt><span jhiTranslate="smartjournalApp.board.description">Description</span></dt>
    <dd>
        <span>{{board.description}}</span>
    </dd>
    <dt><span jhiTranslate="smartjournalApp.board.createdDate">Created</span></dt>
    <dd>
        <span>{{board.created}}</span>
    </dd>
    <dt><span jhiTranslate="smartjournalApp.board.updatedDate">Updated</span></dt>
    <dd>
        <span>{{board.updated}}</span>
    </dd>
    <dt><span jhiTranslate="smartjournalApp.board.group">Group</span></dt>
    <dd>
        <div *ngIf="board.group">
            <a [routerLink]="['/group', board.group?.id, 'view']">{{board.group?.id}}</a>
        </div>
    </dd>
    <dt><span jhiTranslate="smartjournalApp.board.subject">Subject</span></dt>
    <dd>
        <div *ngIf="board.subject">
            <a [routerLink]="['/subject', board.subject?.id, 'view']">{{board.subject?.id}}</a>
        </div>
    </dd>
</dl>
<div *ngFor="let task of board.dayTypes">
    <div class="alert alert-info">
        <p>Type: {{task.type}}</p>
        <p>Name: {{task.name}}</p>
        <p>Created: {{task.created | date: 'mediumDate'}}</p>
        <p>Updated: {{task.updated | date: 'mediumDate'}}</p>
        <p>Score: {{task.score}}</p>
        <p>Expiry: {{task.expiry}}</p>
        <p>Description: {{task.description}}</p>
    </div>
</div>
