<div class="table-responsive" *ngIf="dayTypes">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span jhiTranslate="smartjournalApp.dayType.type">Type</span></th>
            <th><span>Name</span></th>
            <th><span jhiTranslate="smartjournalApp.dayType.score">Score</span></th>
            <th><span jhiTranslate="smartjournalApp.dayType.expiry">Expiry</span></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dayType of dayTypes ;trackBy: trackId">
            <td jhiTranslate="{{'smartjournalApp.Type.' + dayType.type}}">{{dayType.type}}</td>
            <td><a [routerLink]="['/board', boardId, 'task', dayType.id, 'view' ]">{{dayType.name}}</a></td>
            <td>{{dayType.score}}</td>
            <td>{{dayType.expiry}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['/board', boardId, 'task', dayType.id, 'edit']"
                            class="btn btn-primary btn-sm">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'board/' + boardId + '/task'+ dayType.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <fa-icon [icon]="'times'"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
