<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="day">
            <h2><span jhiTranslate="smartjournalApp.day.detail.title">Day</span> {{day.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="smartjournalApp.day.date">Date</span></dt>
                <dd>
                    <span>{{day.date}}</span>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.day.result">Result</span></dt>
                <dd>
                    <span>{{day.result}}</span>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.day.student">Student</span></dt>
                <dd>
                    <div *ngIf="day.student">
                        <a [routerLink]="['/student', day.student?.id, 'view']">{{day.student?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="smartjournalApp.day.dayType">Day Type</span></dt>
                <dd>
                    <div *ngIf="day.dayType">
                        <a [routerLink]="['/day-type', day.dayType?.id, 'view']">{{day.dayType?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/day', day.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
